<section class="mx-auto mt-12 w-full px-4 md:px-0">
  <script src="https://giscus.app/client.js"
        data-repo="Hanzo-Huang/my-blog"
        data-repo-id="R_kgDOQHEm8w"
        data-category="Comments"
        data-category-id="DIC_kwDOQHEm884C2EqW"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
</section>
